@model _70322_Yushkevich.Models.PageListViewModel<_70322_Yushkevich.DAL.Entities.Dish>

@using System.Text;
@{
    ViewBag.Title = "Меню";
}
<h2>Меню</h2>

<div id="List">  
<!-- Вызов созданного пейджера - показывает номер страницы -->
    @Html.Partial("ListPatial", Model)
</div>


@section SidePanel
{
    @Html.Action("Side", "Menu")
}