@model _70322_Yushkevich.Models.PageListViewModel<_70322_Yushkevich.DAL.Entities.Dish>

@using System.Text;
@{
    ViewBag.Title = "Меню";
}
@*<h2>Меню</h2>*@
@{
    // объект для "собирания" разметки
    StringBuilder result = new StringBuilder();
    // счетчик эскизов в строке
    var i = 0;
    TagBuilder row = new TagBuilder("div");
    foreach (var item in Model)
    {
        i++;
        if (i == 1) // для первого элемента в строке создаем новую строку
        {
            row = new TagBuilder("div");
            row.AddCssClass("row");
            row.AddCssClass("item-row");
        }
        row.InnerHtml += Html.Partial("ItemViewPartial", item);
        if (i == 3) // если строка закончена
        {
            // добавить строку в разметку
            result.Append(row.ToString());
        }
    }
    if (i != 3) // если последняя строка не заполнена
    {
        // добавить строку в разметку
        result.Append(row.ToString());
        // обнулить счетчик элементов в строке
        i = 0;
    }
}
<!-- Получить готовую разметку -->
@MvcHtmlString.Create(result.ToString())
<!-- Вызов созданного пейджера - показывает номер страницы -->
@Html.Partial("PagerPartial", Model) 

@section SidePanel
{
    @Html.Action("Side", "Menu")
}
